body {
  background-color: rgb(211, 227, 230) !important;
  font-family: "Fira Sans", serif !important;
}

.success {
  background-color: #3b6eaf !important;
  border: none !important;
}

#nome {
  font-weight: 600;
  font-size: 1.7rem;
  color: #3b6eaf;
}

#nomeHome {
  font-weight: 600;
  font-size: 3rem;
  color: #3b6eaf;
}

#logoimg {
  width: 15rem;
}

#firmafooter {
  font-size: 0.7rem;
}

.textimp {
  font-weight: 500;
}

#icon {
  width: 3rem;
}

h3,
h5 {
  font-weight: 400 !important;
}

hr {
  color: #3b6eaf !important;
  border: 1px solid #3b6eaf !important;
}

@media screen and (max-width: 768px) {
  footer > *:not(section) {
    display: none;
    position: fixed !important;
    bottom: 0 !important;
  }
}
